$color-bg-btn: #8ae1d9;
$color-btn: #fff;
$color-bg-disabled-btn: #e4e4e4;
$color-bg-light-btn: #fff;
$color-light-btn: #8ae1d9;
$color-border-light-btn: #8ae1d9;

// 单位转换
@function pxToRem($px) {
  @return $px/100*1rem;
}

// 宽高
@mixin wh($width,$height) {
  width: pxToRem($width);
  height: pxToRem($height);
}

// 字体、字体大小、颜色、行高
@mixin font-color($family,$size,$color,$line-height:$size*1.5) {
  font-family: $family;
  font-size: pxToRem($size);
  color: $color;
  line-height: pxToRem($line-height);
}

// 水平垂直居中
@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

// 全屏定位
@mixin allcover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// 文字溢出省略
@mixin overflow-ellipsis {
  overflow: hidden;
  -webkit-line-clamp: 1;
  /*! autoprefixer: off */
  -webkit-box-orient: vertical;
  /* autoprefixer: on */
  text-overflow: ellipsis;
}
